<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.pintu"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
	<supports-screens android:anyDensity="true"/>
    <application android:name="PintuApp" android:icon="@drawable/icon" android:label="@string/app_name">        
        <!-- 首页画廊 -->
        <activity android:name=".activity.HomeGallery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        <!-- 贴图编辑 -->          
        <activity android:name=".activity.PictureEdit">
            <intent-filter>
                <action android:name="com.pintu.activity.sendpic"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>            
        </activity> 
        <!-- 贴图详情，路径可不能写错啊 -->       
        <activity android:name=".activity.PictureDetails">
            <intent-filter>
                <action android:name="com.pintu.activity.picdetails"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        <!-- 品图（故事）编辑 -->
        <activity android:name=".activity.StoryEdit"
        				android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.pintu.activity.storyedit"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity> 
        <!-- 添加评论 -->       
        <activity android:name=".activity.CommentEdit"
        			   android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.pintu.activity.commentedit"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        <!-- 故事列表 -->
        <activity android:name=".activity.StoryList">
            <intent-filter>
                <action android:name="com.pintu.activity.storyies"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        <!-- 评论列表 -->
        <activity android:name=".activity.CommentList">
            <intent-filter>
                <action android:name="com.pintu.activity.comments"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        <!-- 故事详情 -->
        <activity android:name=".activity.StoryDetails">
            <intent-filter>
                <action android:name="com.pintu.activity.storydetails"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        
        <!-- add other activity... -->		 
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
</manifest>